*~
.deps
.dirstamp
*.o
*.a
Makefile.in
Makefile

/ChangeLog
/VERSION
/NEWS
/TODO
/AUTHORS

/.version
/.tarball-version

/TAGS
/aclocal.m4
/autom4te.cache

/configure
/config.log
/config.status

/src/perl-autofrisk
/src/python-autofrisk

/man/perl-autofrisk.1
/man/python-autofrisk.1

/tools/autotools/install-sh
/tools/autotools/missing
/tools/autotools/mdate-sh
/tools/autotools/texinfo.tex

/tools/maint/fetch
/tools/maint/wordwrap-detect
/tools/maint/whitespace-detect
/tools/maint/gitlog-to-committers
/tools/maint/gittag-to-date
/.releases
/tools/maint/releases-to-news

/tests/defs
/tests/wrapper
/tests/testSubDir-*
/tests/test-success
/tests/test-fail
/tests/test-perl-autofrisk-01
/tests/test-perl-autofrisk-02
/tests/test-python-autofrisk-01
/tests/test-python-autofrisk-02

/site/in/.sitetool
/site/in/site.stamp
/site/in/todos.sxml
/site/in/todos.dump
/site/in/news.sxml
/site/in/news.dump
/site/out/*
